@import "tailwindcss";

/* stylelint-disable */
@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
/* stylelint-enable */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  background-color: #f1f5f9;
}
